* { box-sizing: border-box; }
body {
  font: 16px Arial;
}
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
  width: 500px;
}

input {
  border: 1px solid transparent;
  /* background-color: #f1f1f1; */
  background-color: #EFF5FB;
  padding: 10px;
  font-size: 16px;
}

input[type=text] {
  background-color:  #EFF5FB;
  width: 100%;
}

input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  /* background-color: #e9e9e9; */
  background-color: DodgerBlue;
  color: #ffffff;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

table {
  /* margin: 10px; */
  margin: 0 auto;
  border-collapse: collapse;
  width: 500px;
  /* width: 70%; */
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color:#2E9AFE;
  color: white;
}

div.a {
  text-align: center;
}

div.b {
  text-align: left;
}

div.c {
  text-align: right;
}

div.c {
  text-align: justify;
}

select.hide {
  display:none;
}

hr {
  border: none;
  height: 0.20px;
  /* Set the hr color */
  color: #c2c2d76e;  /* old IE */
  background-color: #c2c2d76e;  /* Modern Browsers */
}